@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.5 "microsoft yahei", tahoma, arial, 'Hiragino Sans GB', 'SimSun', sans-serif;
  color: #333;
  outline: 0;
}
body {
  background: #f5f5f5;
}
a,
a:hover {
  color: #333;
}
area:focus {
  outline: none;
}
.page-head {
  background: #1c1f24;
}
.page-head .head-icon {
  display: inline;
  float: right;
  padding-top: 30px;
  padding-bottom: 8px;
}
.page-head .head-icon img {
  vertical-align: bottom;
  width: 82px;
}
.page-head .head-icon a {
  display: block;
  width: 82px;
  height: 82px;
  border-radius: 50%;
}
.page-head .logo {
  width: 245px;
  display: inline;
  float: left;
}
.page-head .logo img {
  vertical-align: bottom;
}
.page-head .logo a {
  display: block;
  width: 200px;
}
.page-head .nav-box {
  display: inline;
  float: left;
}
.page-head .nav-box ul.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 85px;
}
.page-head .nav-box ul.nav > li {
  display: inline;
  float: left;
  height: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 65px;
  text-align: center;
  margin-right: 1px;
}
.page-head .nav-box ul.nav > li:hover,
.page-head .nav-box ul.nav > li.current {
  background-color: #f93262;
}
.page-head .nav-box ul.nav > li > a {
  display: block;
  width: 120px;
  padding: 0 0px 20px 0px;
  color: #fff;
}
.page-head .login {
  display: inline;
  float: right;
  height: 65px;
  font-size: 18px;
  color: #fff;
  line-height: 65px;
}
.page-head .login .opt {
  color: #fff;
  vertical-align: middle;
  margin: 0 15px;
}
.page-head .login .opt:hover {
  color: #f93262;
}
.page-head .login .cart {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 49px;
  height: 29px;
  background: url(../images/shopping%20cart.png) no-repeat 0 0;
}
.page-foot {
  background: #373a3f;
  min-height: 100px;
}
.page-foot .share {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-foot .share > li {
  width: 50px;
  height: 50px;
  display: inline;
  float: left;
}
.page-foot .share > li a {
  display: block;
  width: 100%;
  height: 100%;
}
.page-foot .share > li.c {
  background: #f93262 url(../images/jia.png) no-repeat center center;
}
.page-foot .share > li.weixin {
  background: #1c1f24 url(../images/weixin.png) no-repeat center center;
}
.page-foot .share > li.qq {
  background: #1c1f24 url(../images/qq.png) no-repeat center center;
}
.page-foot .share > li.weibo {
  background: #1c1f24 url(../images/weibo.png) no-repeat center center;
}
.page-foot .copyright {
  background-color: #1c1f24;
  line-height: 56px;
  text-align: center;
  color: #808080;
  font-size: 14px;
}
.page-foot .logo {
  width: 245px;
  display: inline;
  float: left;
}
.page-foot .logo img {
  vertical-align: bottom;
}
.page-foot .logo a {
  display: block;
  width: 200px;
}
.page-foot .info {
  float: left;
  display: inline;
  color: #808080;
  padding-bottom: 55px;
}
.page-foot .info > li {
  float: left;
  display: inline;
  margin-left: 30px;
  margin-right: 40px;
}
.page-foot .info > li dt {
  font-size: 26px;
}
.page-foot .info > li dd {
  font-size: 16px;
  font-family: Arial;
  margin-top: 10px;
}
.page-foot .info > li a {
  color: #808080;
}
.page-foot .info > li a:hover {
  color: #f93262;
}
.page-banner .big-box {
  height: 476px;
  position: relative;
  overflow: hidden;
}
.page-banner .big-box .full {
  height: 100%;
}
.page-banner .big-box .full ul {
  position: relative;
  height: 100%;
}
.page-banner .big-box .full ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.page-banner .big-box .full ul li a {
  display: block;
  height: 476px;
}
.page-banner .small-box {
  margin-top: 12px;
}
.page-banner .small-box ul {
  margin: 0 -4px;
}
.page-banner .small-box ul li {
  display: inline;
  float: left;
  width: 294px;
  height: 160px;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  overflow: hidden;
}
.page-banner .small-box ul li img {
  vertical-align: bottom;
  height: 160px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.layout {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.mt_10 {
  margin-top: 10px;
}
.mt_20 {
  margin-top: 20px;
}
.ml_10 {
  margin-left: 10px;
}
.pagination-wrap {
  padding-top: 15px;
  text-align: center;
}
.pagination-wrap .nav {
  display: inline-block;
  min-width: 80px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 20px;
  margin-right: 25px;
  background-color: #d7d7d7;
  color: #373a3f;
}
.pagination-wrap .nav:last-child {
  margin-right: 0;
}
.pagination-wrap .nav:hover,
.pagination-wrap .nav.current {
  background: #f93262;
  color: #fff;
}
.pagination-wrap .nav i {
  font-family: consolas, "微软雅黑";
}
.pagination-wrap .ml_3 {
  margin-left: 3px;
}
.pagination-wrap .mr_3 {
  margin-right: 3px;
}
