@charset "UTF-8";
.info-box {
  margin-top: 66px;
  margin-bottom: 68px;
}
.info-box .side-bar {
  float: left;
  width: 318px;
  min-height: 100px;
  padding-bottom: 56px;
  background: #373a3f;
}
.info-box .side-bar .hd {
  margin: 50px 0 0 56px;
}
.info-box .side-bar .hd h2 {
  font-size: 24px;
  color: #fff;
}
.info-box .side-bar .hd h3 {
  font-size: 18px;
  color: #666768;
}
.info-box .side-bar .hd .line {
  margin-top: 5px;
  width: 38px;
  height: 2px;
  background: #D64669;
  overflow: hidden;
}
.info-box .side-bar .nav-list {
  margin-top: 25px;
}
.info-box .side-bar .nav-list .item {
  height: 66px;
  line-height: 66px;
  font-size: 18px;
}
.info-box .side-bar .nav-list .item a {
  display: block;
  margin-left: 56px;
  color: #fff;
  border-bottom: #44454A solid 1px;
}
.info-box .side-bar .nav-list .item:hover,
.info-box .side-bar .nav-list .current {
  background: #282D33;
}
.info-box .side-bar .nav-list .item:hover a,
.info-box .side-bar .nav-list .current a {
  color: #D3486F;
}
.info-box .info-list {
  margin-left: 355px;
  overflow: hidden;
  min-height: 200px;
}
.info-box .info-list ul {
  margin-right: -44px;
}
.info-box .info-list .item {
  width: 252px;
  height: 247px;
  float: left;
  margin: 0 44px 44px 0;
  position: relative;
}
.info-box .info-list .item:hover .img-area {
  opacity: 0;
}
.info-box .info-list .item:hover .text-area {
  opacity: 1;
}
.info-box .info-list .img-area {
  transition: all 1s;
  opacity: 1;
  cursor: pointer;
}
.info-box .info-list .info-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../images/info-pic-icon.png") no-repeat;
  width: 74px;
  height: 72px;
}
.info-box .info-list .text-area {
  position: absolute;
  transition: all 1s;
  left: 0;
  top: 0;
  background: url("../images/info-text-bg.png") no-repeat;
  width: 252px;
  height: 247px;
  opacity: 0;
}
.info-box .info-list .text-area .inner {
  margin: 30px 23px 0 23px;
}
.info-box .info-list .text-area h3 {
  font-size: 20px;
  color: #fff;
  width: 120px;
  padding-bottom: 4px;
  border-bottom: #fff solid 2px;
}
.info-box .info-list .text-area .text {
  margin-top: 5px;
  height: 140px;
  line-height: 20px;
  overflow: hidden;
  font-size: 13px;
}
.info-box .info-list .text-area .line {
  margin-top: 5px;
  width: 86px;
  height: 6px;
  background: #fff;
}
