@charset "UTF-8";

.info-box{
    margin-top: 66px;
    margin-bottom: 68px;
    .side-bar{
        float: left;
        width: 318px;
        min-height: 100px;
        padding-bottom: 56px;
        background: #373a3f;
        .hd{
            margin: 50px 0 0 56px;
            h2{
                font-size: 24px;
                color: #fff;
            }
            h3{
                font-size: 18px;
                color: #666768;
            }
            .line{
                margin-top: 5px;
                width: 38px;
                height: 2px;
                background: #D64669;
                overflow: hidden;
            }
        }
        .nav-list{
            margin-top: 25px;
            .item{
                height: 66px;
                line-height: 66px;
                font-size: 18px;
                a{
                    display: block;
                    margin-left: 56px;
                    color: #fff;
                    border-bottom: #44454A solid 1px;
                }
            }
            .item:hover,.current{
                background: #282D33;
                a{
                    color: #D3486F;
                }
            }
        }
    }
    .info-list{
        margin-left: 355px;
        overflow: hidden;
        min-height: 200px;
        ul{
            margin-right: -44px;
        }
        .item{
            width: 252px;
            height: 247px;
            float: left;
            margin: 0 44px 44px 0;
            position: relative;
            &:hover{
                .img-area{
                    opacity: 0;
                }
                .text-area{
                    opacity: 1;
                }
            }
        }
        .img-area{
            transition: all 1s;
            opacity: 1;
            cursor: pointer;
        }
        .info-icon{
            position: absolute;
            bottom: 0;
            right: 0;
            background: url("../images/info-pic-icon.png") no-repeat;
            width: 74px;
            height: 72px;
        }
        .text-area{
            position: absolute;
            transition: all 1s;
            left: 0;
            top: 0;
            background: url("../images/info-text-bg.png") no-repeat;
            width: 252px;
            height: 247px;
            opacity: 0;
            .inner{
                margin: 30px 23px 0 23px;
            }
            h3{
                font-size: 20px;
                color: #fff;
                width: 120px;
                padding-bottom: 4px;
                border-bottom: #fff solid 2px;
            }
            .text{
                margin-top: 5px;
                height: 140px;
                line-height: 20px;
                overflow: hidden;
                font-size: 13px;
            }
            .line{
                margin-top: 5px;
                width: 86px;
                height: 6px;
                background: #fff;
            }
        }
    }
}